header{
    text-align: center;
    font-size: larger;
    color: whitesmoke;
    
 }

h1{
    font-family: sans-serif;
    font-size: larger;
    text-decoration: underline double;
    color: gold;
    text-align: center;
    
}
h2{
    text-decoration:underline double;
    font-size: larger;
}
body{
    background-color: black;
    color: whitesmoke;
    font-size: larger;
    
}
div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    
  }
  p{
      color: whitesmoke;
      font-size: larger;
  }
  img{
    float: right;
  }
  div{
      float: right;
  }
  span{
      color: orangered;
  }
  ul{
      display: block;
      list-style: decimal;
    
  }